@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    border: 0;
    margin: 0;
}

header {
    display: flex;
    background-color: antiquewhite;
    height: 3rem;
}

.headertext{
    margin-top: 10px;
    margin-left: 3rem;
    font-family: 'Archivo Black', sans-serif;
    font-size: larger;
    color:#2D2A27
}


.loginPage{
    background-image: url("../img/laptop-computer-book-workplace-library-room.jpg");
    background-size: cover;
    width:  100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    justify-content: flex-end;
    
}

.loginIntro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.introText {
    margin-top: 15%;
    margin-left: 3%;
    font-family: 'Archivo Black', sans-serif;
    color: antiquewhite;
    font-size: 4rem;
    text-align: left;

}

.introText2{
    text-align: left;
    margin-left: 3%;
    margin-top: 1rem;
    font-family: 'Archivo Black', sans-serif;
    color: rgb(240, 238, 235);
    font-size: large;

}

.loginNav {
    margin-top:3rem;
    text-align: center;
}


.loginSection {
    height:fit-content;
    margin-right: 10%;
    margin-top: 10%;
    border-radius: 10%;
    background-color:rgba(252, 253, 252, 0.6);

}


.login,.register{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.button {
    margin-top: 1rem;
}

.profilePage {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #6A635C;
}

.userInfo {
    padding: 0.5rem;
    background-color: white;
    height: fit-content;
}

.sideNavBar {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
}

.avatar {
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.username {
    color: black;
    font-family: 'Archivo Black', sans-serif;
}

.description {
    color: #2D2A27;
    padding-bottom: 1rem;
}

.editIcon {
 margin-top: 10%;
    
}

.editIcon:hover {
    cursor: pointer;
}



.navList {
    margin-top: 1rem;
    height: 100vh;
    background-color: lightgray;
}

.profileContent {
   flex-grow: 1;
   margin-right: 3rem;
   margin-top:1rem;
   width: auto;
   background-color: #FFEFD5;
   display: flex;
   flex-direction: column;
   
}

.contentNav {
    height: 150px;
    background-image:url('../img/photo-1505488387362-48bc38155987.avif');
   
}

.cardContent {
    margin: 1rem;
}

.author {
    display: inline-block;
    color:#6A635C

}

h2{
    font-size:medium
    
}

h2:hover{
    cursor: pointer;
    color:#6A635C
}

.contentDisplay {
    overflow: scroll;

}

.paperCard {
    display: flex;
    flex-direction: row;
}

.cardNav{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.deleteIcon:hover {
    cursor: pointer;
}

.confirmDeleteText {
    color:red;
    font-family: 'Archivo Black', sans-serif;
    height:fit-content
}

.confirmDeleteText:hover {
    cursor: pointer;
    color:orangered;
    font-family: 'Archivo Black', sans-serif;
}

.cardDetails {

}

.detailList {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.paperButton {
    margin-left: 1rem;

}


.contentNav {
    display: flex;
    flex-direction: row;

}

.contentNavLeftBar {
    flex-grow: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    background-color:rgba(247, 231, 203, 0.8);
}

h1 {
    font-size: medium;
   margin-top: 1rem;
}

.contentNavButtons {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    margin-top: 1rem;
    
}

.contentNavSearch {
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    background-color:rgba(247, 231, 203, 0.8);
}


.search:hover {
    cursor: pointer;
}

.readIcon {
    display: inline-block;
    margin-left: 1rem;
}

.folderListItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.folderName {
    flex-grow: 1;
}

.folderIcon{
    display: flex;
    flex-direction: row;
}

.filterBar {
    height: 50px;
    display: flex;
    place-items: center;
}

.filterBarText {
    margin-left: 10px;
}

.radioButtons {
    margin-left: 10px;
}

